<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Nhóm</h1>
    <p class="mb-4">Quản lý danh sách nhóm</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 row">
            <h6 class="col-sm-10 m-0 font-weight-bold text-primary">Danh sách</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên nhóm</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên nhóm</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let dv of item; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{dv.ten}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>