<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span>
                            Việt Nam
                        </span> &nbsp;

                    <img *ngIf="hours<18" src="https://img.icons8.com/android/15/ffffff/sun.png" />
                    <img *ngIf="hours>=18" src="https://img.icons8.com/metro/15/ffffff/moon.png" />&nbsp;
                    <span>
                        {{hours}}:{{mini}}
                    </span>
                    </span>

                    <a href="#" [routerLink]="" class="left-topbar-item">
                        Giới thiệu
                    </a>

                    <a href="#" [routerLink]="['/error']" class="left-topbar-item">
                        Thông báo
                    </a>

                    <a href="#" [routerLink]="" class="left-topbar-item">
                        Liên hệ
                    </a>
                </div>

                <div class="right-topbar">
                    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                        <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Tìm kiếm">
                        <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="index-2.html"><img src="assets/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span>
                            New York, NY
                        </span>

                    <img class="m-b-1 m-rl-8" src="assets/images/icons/icon-night.png" alt="IMG">

                    <span>
                            HI 58° LO 56°
                        </span>
                    </span>
                </li>

                <li class="left-topbar">
                    <a href="#" class="left-topbar-item">
                        About
                    </a>

                    <a href="#" class="left-topbar-item">
                        Contact
                    </a>

                    <a href="#" class="left-topbar-item">
                        Sing up
                    </a>

                    <a href="#" class="left-topbar-item">
                        Log in
                    </a>
                </li>

                <li class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="index-2.html">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="index-2.html">Homepage v1</a></li>
                        <li><a href="home-02.html">Homepage v2</a></li>
                        <li><a href="home-03.html">Homepage v3</a></li>
                    </ul>

                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="category-01.html">News</a>
                </li>

                <li>
                    <a href="category-02.html">Entertainment </a>
                </li>

                <li>
                    <a href="category-01.html">Business</a>
                </li>

                <li>
                    <a href="category-02.html">Travel</a>
                </li>

                <li>
                    <a href="category-01.html">Life Style</a>
                </li>

                <li>
                    <a href="category-02.html">Video</a>
                </li>

                <li>
                    <a href="#">Features</a>
                    <ul class="sub-menu-m">
                        <li><a href="category-01.html">Category Page v1</a></li>
                        <li><a href="category-02.html">Category Page v2</a></li>
                        <li><a href="blog-grid.html">Blog Grid Sidebar</a></li>
                        <li><a href="blog-list-01.html">Blog List Sidebar v1</a></li>
                        <li><a href="blog-list-02.html">Blog List Sidebar v2</a></li>
                        <li><a href="blog-detail-01.html">Blog Detail Sidebar</a></li>
                        <li><a href="blog-detail-02.html">Blog Detail No Sidebar</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>

                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="#" [routerLink]="['/']" (click)="menuclick(1)"><img src="assets/images/system/logo3.png" style="width: 150px;height: 100px;" alt="LOGO"></a>
            </div>

            <!-- Banner -->
            <div class="banner-header">
                <a href="#"><img src="assets/images/system/logo2.png" alt="IMG"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="#" [routerLink]="['/']" (click)="menuclick(1)">
                        <img src="assets/images/icons/logo-01.png" alt="LOGO">
                    </a>

                    <ul class="main-menu">
                        <li [ngClass]="{'main-menu-active': menuaction==1}">
                            <a href="#" [routerLink]="['/']" (click)="menuclick(1)">Trang chủ</a>
                        </li>
                        <li [ngClass]="{'main-menu-active': menuaction==2}">
                            <a href="javascript:void(0)" class="down">Giới thiệu</a>
                            <ul class="sub-menu">
                                <li><a href="#" (click)="menuclick(2)">Thông tin liên hệ</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(2)">Quá trình thành lập</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(2)">Chức năng nhiệm vụ</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(2)">Thành tích đạt được</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(2)">Đội ngũ cán bộ</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'main-menu-active': menuaction==3}">
                            <a href="#" class="down">Tin tức</a>
                            <ul class="sub-menu">
                                <li><a href="#" [routerLink]="['/danhsach',1]" (click)="menuclick(3)">Khen thưởng</a></li>
                                <li><a href="#" [routerLink]="['/danhsach',2]" (click)="menuclick(3)">Tuyển dụng</a></li>
                                <li><a href="#" [routerLink]="['/danhsach',3]" (click)="menuclick(3)">Khác</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'main-menu-active': menuaction==4}">
                            <a href="#" [routerLink]="['/danhsach',1004]" (click)="menuclick(4)">Thông báo</a>
                        </li>
                        <li [ngClass]="{'main-menu-active': menuaction==5}">
                            <a href="#" class="down">Văn bản</a>
                            <ul class="sub-menu">
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(5)">Văn bản của BGD&ĐT</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(5)">Văn bản nhà nước</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(5)">Văn bản của trường</a></li>
                                <li><a href="#" [routerLink]="['/error']" (click)="menuclick(5)">Quản lý nội bộ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" [routerLink]="['/lienhe']" (click)="menuclick(6)" [ngClass]="{'main-menu-active': menuaction==6}">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>