<div id="wrapper">
    <app-headera></app-headera>
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-navbara></app-navbara>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <router-outlet></router-outlet>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footera></app-footera>
        <!-- End of Footer -->

    </div>
</div>