<!-- Headline -->
<div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Feature post -->
<!-- <section class="bg0">
    <div class="container">
        <div class="row m-rl--1">
            <div class="col-md-6 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url(assets/images/post-01.jpg);">
                    <a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                            Business
                        </a>

                        <h3 class="how1-child2 m-t-14 m-b-10">
                            <a href="blog-detail-01.html" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
                                Microsoft quisque at ipsum vel orci eleifend ultrices
                            </a>
                        </h3>

                        <span class="how1-child2">
                            <span class="f1-s-4 cl11">
                                Jack Sims
                            </span>

                        <span class="f1-s-3 cl11 m-rl-3">
                                -
                            </span>

                        <span class="f1-s-3 cl11">
                                Feb 16
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-rl-1">
                <div class="row m-rl--1">
                    <div class="col-12 p-rl-1 p-b-2">
                        <div class="bg-img1 size-a-4 how1 pos-relative" style="background-image: url(assets/images/post-02.jpg);">
                            <a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

                            <div class="flex-col-e-s s-full p-rl-25 p-tb-24">
                                <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                    Culture
                                </a>

                                <h3 class="how1-child2 m-t-14">
                                    <a href="blog-detail-01.html" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
                                        London ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-rl-1 p-b-2">
                        <div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url(assets/images/post-03.jpg);">
                            <a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

                            <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                                <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                    Life Style
                                </a>

                                <h3 class="how1-child2 m-t-14">
                                    <a href="blog-detail-01.html" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
                                        Pellentesque dui nibh, pellen-tesque ut dapibus ut
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p-rl-1 p-b-2">
                        <div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url(assets/images/post-04.jpg);">
                            <a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

                            <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                                <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                    Sport
                                </a>

                                <h3 class="how1-child2 m-t-14">
                                    <a href="blog-detail-01.html" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
                                        Motobike Vestibulum vene-natis purus nec nibh volutpat
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="bg0">
    <div class="container">
        <img src="../../../../assets/images/slider/slide1.png" style="margin: auto; width: 100%;">
    </div>
</div>
<!-- Post -->
<section class="bg0 p-t-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="p-b-20">
                    <!-- Entertainment -->
                    <div class="tab01 p-b-20">
                        <div class="tab01-head how2 how2-cl1 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <h3 class="f1-m-2 cl12 tab01-title">
                                Tin tức mới nhất
                            </h3>
                        </div>


                        <!-- Tab panes -->
                        <div class="tab-content p-t-35">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="tab1-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="../../../../assets/images/news/{{item_singer_new.hinhanh}}" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        {{item_singer_new.tieude}} 
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        {{item_singer_new.ngaydang|date:'dd/MM/yyyy'}}
                                                    </span>

                                                <span class="f1-s-3">
                                                        
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <ng-container *ngFor="let new of itemslider">
                                            <div class="flex-wr-sb-s m-b-30">
                                                <a href="blog-detail-01.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                    <img src="../../../../assets/images/news/{{new.hinhanh}}" alt="IMG">
                                                </a>

                                                <div class="size-w-2">
                                                    <h5 class="p-b-5">
                                                        <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03 ">
                                                            {{new.tieude}}
                                                        </a>
                                                    </h5>

                                                    <span class="cl8">
                                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                            
                                                        </a>
    
                                                        <span class="f1-s-3 m-rl-3">
                                                            {{new.ngaydang|date:'dd/MM/yyyy'}}
                                                        </span>

                                                    <span class="f1-s-3">
                                                            
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Business -->
                    <div class="tab01 p-b-20">
                        <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <h3 class="f1-m-2 cl13 tab01-title">
                                Các NCKH-CN công bố
                            </h3>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content p-t-35">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="../../../../assets/images/news/{{item_NCKH_new.hinhanh}}" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03 text-uppercase">
                                                        {{item_NCKH_new.tieude}}
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        {{item_NCKH_new.ngaydang | date:'dd-MM-yyyy'}}
                                                    </span>

                                                <span class="f1-s-3">
                                                        
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <ng-container *ngFor="let new of itemNCKH">
                                            <div class="flex-wr-sb-s m-b-30">
                                                <a href="blog-detail-01.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                    <img src="../../../../assets/images/news/{{new.hinhanh}}" alt="IMG">
                                                </a>

                                                <div class="size-w-2">
                                                    <h5 class="p-b-5">
                                                        <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03 text-uppercase">
                                                            {{new.tieude}}
                                                        </a>
                                                    </h5>

                                                    <span class="cl8">
                                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                            
                                                        </a>
    
                                                        <span class="f1-s-3 m-rl-3">
                                                            {{new.ngaydang|date:'dd/MM/yyyy'}}
                                                        </span>

                                                    <span class="f1-s-3">
                                                            
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Travel -->
                    <div class="tab01 p-b-20">
                        <div class="tab01-head how2 how2-cl3 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <h3 class="f1-m-2 cl14 tab01-title">
                                Thông báo
                            </h3>
                        </div>


                        <!-- Tab panes -->
                        <div class="tab-content p-t-35">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="tab3-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="../../../../assets/images/news/{{item_TB_new.hinhanh}}" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03 text-uppercase">
                                                        {{item_TB_new.tieude}}
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        {{item_TB_new.ngaydang | date: 'dd/MM/yyyy'}}
                                                    </span>

                                                <span class="f1-s-3">
                                                        
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <ng-container *ngFor="let new of item_TB">
                                            <div class="flex-wr-sb-s m-b-30">
                                                <a href="blog-detail-01.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                    <img src="../../../../assets/images/news/{{new.hinhanh}}" alt="IMG">
                                                </a>

                                                <div class="size-w-2">
                                                    <h5 class="p-b-5">
                                                        <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03 text-uppercase">
                                                            {{new.tieude}}
                                                        </a>
                                                    </h5>

                                                    <span class="cl8">
                                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                            
                                                        </a>
    
                                                        <span class="f1-s-3 m-rl-3">
                                                            {{new.ngaydang|date:'dd/MM/yyyy'}}
                                                        </span>

                                                    <span class="f1-s-3">
                                                            
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!--  -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Tuyển dụng
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <ng-container *ngFor="let new of item_TD; let i = index;">
                                <li class="flex-wr-sb-s p-b-22">
                                    <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                        {{i+1}}
                                    </div>

                                    <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03 text-uppercase">
                                        {{new.tieude}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                    <!--  -->
                    <!-- <div class="flex-c-s p-t-8">
                        <a href="#">
                            <img class="max-w-full" src="assets/images/banner-02.jpg" alt="IMG">
                        </a>
                    </div> -->
                    <div class="p-t-50">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                VIDEO REVIEW
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <iframe width="330" height="200" src="https://www.youtube.com/embed/mIIN6utb-PM"></iframe>
                        </ul>
                    </div>
                    <!--  -->
                    <div class="p-t-50">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Liên kết
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <div class="fb-page" data-href="https://www.facebook.com/DaiHocSuPhamKyThuatHungYenUTEHY" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/DaiHocSuPhamKyThuatHungYenUTEHY" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DaiHocSuPhamKyThuatHungYenUTEHY">Đại Học Sư Phạm Kỹ Thuật Hưng Yên - UTEHY</a></blockquote>
                            </div>
                        </ul>
                    </div>
                    <!--  -->
                    <div class="p-t-50">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Bộ đếm truy cập
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="flex-wr-sb-c p-b-20">
                                <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
                                    <span class="fab fa-facebook-f"></span>
                                </a>

                                <div class="size-w-3 flex-wr-sb-c">
                                    <span class="f1-s-8 cl3 p-r-20">
											6879 Fans
										</span>

                                    <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Like
										</a>
                                </div>
                            </li>

                            <li class="flex-wr-sb-c p-b-20">
                                <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-twitter fs-16 cl0 hov-cl0">
                                    <span class="fab fa-twitter"></span>
                                </a>

                                <div class="size-w-3 flex-wr-sb-c">
                                    <span class="f1-s-8 cl3 p-r-20">
											568 Followers
										</span>

                                    <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Follow
										</a>
                                </div>
                            </li>

                            <li class="flex-wr-sb-c p-b-20">
                                <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-youtube fs-16 cl0 hov-cl0">
                                    <span class="fab fa-youtube"></span>
                                </a>

                                <div class="size-w-3 flex-wr-sb-c">
                                    <span class="f1-s-8 cl3 p-r-20">
											5039 Subscribers
										</span>

                                    <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Subscribe
										</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>